gradle.properties
.DS_Store
*.class
R.java
*.apk
*.ap_
bin/
gen/
classes.dex
.svn/
.settings/
local.properties
additional.properties
out/
lint.xml
vcs.xml
classes/
ant.xml
*/project.properties
Manifest.java
codeStyleSettings.xml
proguard_logs
.classpath
ant.xml
build
out/
**/.idea/workspace.xml
.idea/workspace.xml
/*/*/.idea/workspace.xml
.idea/inspectionProfiles
**/.idea/inspectionProfiles
*/*/*/.idea/inspectionProfiles
.idea
*.iml
.gradle
com_crashlytics_export_strings.xml
hs_err_pid*.log
